body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: sans-serif;
    color: white;
    background-color: chocolate;
    flex-direction: column;
}
